name: CI

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'charts/**'

permissions:
  contents: read
  packages: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: actionlint
        uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1

      - name: shellcheck
        run: shellcheck .github/scripts/*.sh

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test -v ./...

      - name: Build verity
        run: go build -o verity .

  scan:
    name: Scan Chart Images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Login to GHCR
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build verity
        run: go build -o verity .

      - name: Scan charts for images
        run: ./verity -scan -chart Chart.yaml -images values.yaml
